<p id="notice"><%= notice %></p>

<div  class="grid grid-rows-5 lg:grid-cols-4 sm:grid-cols-1">
    <div class="row-span-5 lg:col-span-3">
      <video width="100%" height="100%" controls>
        <source src="/videos/mhrise.mp4" type="video/mp4">
        您的浏览器不支持Video标签。
      </video>      
    </div>
    <div class="overflow-auto row-span-4 border border-teal-900">
      <ul id="comments_id"></ul>
    </div>
    <div class="row-span-1 border border-teal-900">
      <div data-controller="comment" data-comment-room-id=<%= @movie_room.id %>>
        <textarea data-target="comment.context" placeholder="hey" class="text-grey-darkest flex-1 p-2 m-1 bg-transparent" name="tt">hello world</textarea>
        <button data-action="click->comment#send">
          Send
        </button>
      </div>
    </div>
</div>


<%= link_to 'Edit', edit_movie_room_path(@movie_room) %> |
<%= link_to 'Back', movie_rooms_path %>
